<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         bootstrap="../vendor/autoload.php"
         colors="true"
         displayDetailsOnAllIssues="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>.</directory>
            <exclude>./live</exclude>
        </testsuite>
    </testsuites>
</phpunit>
